[flake8]
max-line-length = 120
ignore =
    E731, # do not assign a lambda expression, use a def
    W605, # Invalid escape sequence
    W504 # line break after binary operator
    W503 # line break before binary operator
